// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import '~mdbootstrap/scss/mdb';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'spec/settings/index';
@import 'spec/tools/index';
@import 'spec/index';
@import 'vendor/index';

html, body {
  background-color: #fff;
/*   color: #636b6f; */
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: 100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/* start category area css
============================================================================================ */
.single-deal {
    position: relative;
    margin-bottom: 30px; }
    .single-deal .overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: #000;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-deal .deal-details {
      position: absolute;
      left: 50%;
      top: 115%;
      display: inline-block;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-deal .deal-details h6 {
        color: #fff;
        text-transform: uppercase; }
    .single-deal:hover .overlay {
      opacity: .5;
      visibility: visible; }
    .single-deal:hover .deal-details {
      top: 50%;
      opacity: 1;
      visibility: visible; }

  /* end category area css
  ============================================================================================ */
  /* start product area css
  ============================================================================================ */
  .active-product-area {
    padding-top: 70px;
    padding-bottom: 50px; }
    .active-product-area .owl-nav div {
      position: absolute;
      left: 35%;
      top: 7%;
      opacity: .3; }
      @media (max-width: 1440px) {
        .active-product-area .owl-nav div {
          left: 30%; } }
      @media (max-width: 1200px) {
        .active-product-area .owl-nav div {
          left: 28%; } }
      @media (max-width: 991px) {
        .active-product-area .owl-nav div {
          top: 3%;
          left: 25%; } }
      @media (max-width: 870px) {
        .active-product-area .owl-nav div {
          left: 15%; } }
      @media (max-width: 767px) {
        .active-product-area .owl-nav div {
          left: 10%;
          top: 2%;
          margin-top: -25px; } }
      @media (max-width: 570px) {
        .active-product-area .owl-nav div {
          left: 37%;
          top: 1%;
          margin-top: -25px; } }
      @media (max-width: 480px) {
        .active-product-area .owl-nav div {
          margin-top: -20px;
          left: 28%; } }
      .active-product-area .owl-nav div:hover {
        opacity: 1; }
    .active-product-area .owl-nav .owl-next {
      left: auto;
      right: 35%; }
      @media (max-width: 1440px) {
        .active-product-area .owl-nav .owl-next {
          right: 30%; } }
      @media (max-width: 1200px) {
        .active-product-area .owl-nav .owl-next {
          right: 28%; } }
      @media (max-width: 991px) {
        .active-product-area .owl-nav .owl-next {
          top: 3%;
          right: 25%; } }
      @media (max-width: 870px) {
        .active-product-area .owl-nav .owl-next {
          right: 15%; } }
      @media (max-width: 767px) {
        .active-product-area .owl-nav .owl-next {
          right: 10%;
          top: 2%;
          margin-top: -25px; } }
      @media (max-width: 570px) {
        .active-product-area .owl-nav .owl-next {
          right: 37%;
          top: 1%;
          margin-top: -25px; } }
      @media (max-width: 480px) {
        .active-product-area .owl-nav .owl-next {
          margin-top: -20px;
          right: 28%; } }

  .single-product {
    margin-bottom: 50px; }
    .single-product img {

      margin-bottom: 10px;
     }
     .single-product a {
      text-decoration: none;
     }
    .single-product .product-details h6 {
      font-size: 14px;
      color:black;
      font-weight: bold;
    }
    .single-product .product-details .price h6 {
      font-size: 14px;
      padding-right: 15px;
      color:#fa5e24;
      margin-top:-5px;
     }
    .single-product .product-details .price .l-through {
      text-decoration: line-through;
      color: #cccccc;
      margin-bottom: 0; }
    .single-product .product-details .prd-bottom {
      position: relative;
      margin-top: 5px; }
      .single-product .product-details .prd-bottom .social-info {
        position: relative;
        display: inline-block;
        width: 35px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        overflow: hidden; }
        .single-product .product-details .prd-bottom .social-info span {
          position: relative;
          height: 30px;
          width: 30px;
          line-height: 30px;
          text-align: center;
          background: #3f51b5;
          border-radius: 50%;
          display: inline-block;
          color: #fff;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          z-index: 1; }
          .single-product .product-details .prd-bottom .social-info span:after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: "";
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            z-index: -1; }
        .single-product .product-details .prd-bottom .social-info .hover-text {
          position: absolute;
          left: 0;
          top: 3px;
          width: 100px;
          left: -40px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 12px;
          color: #222222;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          opacity: 0;
          visibility: hidden; }
        .single-product .product-details .prd-bottom .social-info:hover {
          width: 115px; }
          .single-product .product-details .prd-bottom .social-info:hover span:after {
            opacity: 1;
            visibility: visible; }
          .single-product .product-details .prd-bottom .social-info:hover .hover-text {
            opacity: 1;
            visibility: visible;
            left: 40px; }

  /* end product area css
  ============================================================================================ */ 